.button-anchor {
    position: relative;
    width: fit-content;
    min-width: 80px;
    height: 40px;
    border: 1px solid #4400ff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-anchor a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.button-anchor a:hover {
    background: #4400ff;
    transition: 0.3s;
}